*{
	border: 0;
	margin: 0;
	padding: 0;
}

 /*----------------------------------header-------------------------------*/
header{
	width: 100%;
	height: 100px;
	background: #242020;
}

#iniciar{
	width: 20%;
	height: 65px;
	margin-top: 35px;
	float: right;
}

input[type="text"]{
	width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin-left: 6%;
}

#search a{
	width: 20%;
	padding: 12px 20px;
	float: left;
	border: 1px solid #20C188;
	margin: 9px 0;
	background: #20C188;
	margin-left: 10%;
	border-radius:0.0em;
	text-align: center;
}

#optionsearch{
	width: 20%;
	height: 30px;
	margin-left: 40%;
	margin-top: 3%;
}

#optionsearch a{
	width: 30%;
	float: left;
	background: #20C188;
	border-radius:0.0em;
	text-align: center;
    padding: 14px 20px;
}

#optionsearch a:hover{
	background: #227F56;
}

hr{
	height: 2px;
	background: #20C188;
	width: 100%;
}

#workshop{
	display: none;
}

#iniciar a{
	text-decoration: none;
	margin-left: 5%;
	margin-top: 20px;
}

.result{
	width: 22%;
	height: 174px;
	margin: 1%;
	float: left;
	border: black 5px double;
}

#view{
	width: 100%;
	height: 700px;
	margin-top: 2%;
}

#search{
	height:  100px;
	width: 40%;
	margin-left: 30%;
	margin-top: 3%;
}

#logo{
	height:  100%;
	width: 19%;
	float: left;
}

#logo img{
	margin-left: 30px;
	margin-top: 24px;
	width: : 45%;
	float: left;
}

#logo h2{
	height: 100%;
	margin-top: 20px;
	margin-left: 10px;
	width: 55%;
	float: left;
	color: #fff;
	font-size: 26px;
}

/*-----------------------------------Buttons------------------------------------------*/
.buttons{
	background-color: #868063;
    color: white;
    border-radius:0.5em;
    padding: 14px 20px;
    cursor: pointer;
    width: 120px;
}

.buttons:hover{
	background: #736830;
	color: black;
}

/*-----------------------------------Main Menu---------------------------------------*/

#menu{
	height: 100px;
	float: left;
	margin-top: 10px;
	width: 60%;
	margin-left: 10px;
}

nav {
	margin-right: : 20px;
	margin-top: 15px;
	width: 90%;
	max-width: 100%;
}

nav ul{
	list-style: none;
}

nav > ul {
	display: table;
	overflow: hidden;
	width: 100%;
	background: #242020;
	position: relative;
}

nav > ul > li {
	display: table-cell;
}

nav > ul > li a {
	color: #fff;
	display:  block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

nav > ul > li > a span {
	background: #fff;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a:hover > span {
	top: 0;
	opacity: .4;
}

/*----------------------------------------------main_info---------------------------------------*/

#fix{
	height: 100px;
}

.info{
	width: 100%;
	height: 450px;
	background: #F4F4F4;
}

.info img{
	float: left;
	width: 45%;
	height: 350px;
	margin: 45px;
}

.text{
	margin-top: 120px;
	width: 25%;
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	height: 300px;
	float: right;
}

.info1{
	background: #F4F4F4;
	width: 100%;
	height: 450px;
}

.info1 img{
	float: right;
	width: 40%;
	margin: 40px;
	height: 350px;
}

hr{
	height: 2px;
	background: #20C188;
	width: 100%;
}

h2{
	font-size: 30px;
	text-align: center;
	color: #2599B9;
}

p{
	text-align: justify;
	font-size: 16px;
	width: 50%;
}

.text1{
	margin-top: 120px;
	width: 30%;
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	height: 300px;
	float: left;
}

#types{
	margin-left: 80px;
	font-size: 16px;
	line-height: 22px;
}

/*--------------------------------footer---------------------------------*/

footer{
	height: 100px;
	width: 100%;
	color: #fff;
	background: #444444;
}

footer p{
	height: 50px;
	width: 100%;
	background: #444444;
}